body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0082FC;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #5bc0de;
    cursor: pointer;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #005fa3;
    transform: translateY(-2px);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.header-fixo {
    position: fixed;
    top: 0;
    left: -100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 1000;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 10%;
}

section {
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 75%;
}

p,
a {
    text-align: justify;
    line-height: 1.6;
}

h1 {
    color: #ffffff;
    margin-bottom: 10px;
}

h2,
h3 {
    color: #000000;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 300;
    width: 90%;
}

li {
    padding: 10px;
    margin: 0%;
    text-align: justify;
    line-height: 1.6;
}

#symbol-bluetooth {
    width: 50px;
    height: 50px;
    margin-right: 60px;
    transition: transform 0.3s ease;
    color: white;
}

#symbol-bluetooth:hover {
    transform: scale(1.2);
}

#bluetooth-content {
    width: 50px;
    height: 50px;
    margin-left: 15px;
    transition: transform 0.3s ease;
    color: white;
}

#bluetooth-content:hover {
    transform: scale(1.2);
}

.referencias {
    background-color: #f9f9f9;
    padding: 30px;
    margin: 40px auto;
    max-width: 1200px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.referencias ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.referencias ul li a {
    color: #1a73e8;
    text-decoration: none;
    transition: color 0.3s ease;
}

.referencias ul li a:hover {
    color: #0056b3;
    text-decoration: underline;
}

figure {
    text-align: center;
    margin: 20px 0;
}

figure img {
    max-width: 100%;
    height: 250px;
}

figcaption {
    font-size: 14px;
    color: #555;
    margin-top: 8px;
    font-style: italic;
}

.imagem-pequena {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-conteudo {
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
}

.fechar {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.fechar:hover,
.fechar:focus {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
}

footer p {
    background-color: #0082FC;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    align-items: center;
}

.capa {
    max-width: 1200px;
    width: 1200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: right;
    padding: 20px;
    background-color: #ffffff;
    border: none;
    box-shadow: none;
}

.capa h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

#bluetooth-logo {
    width: 150px;
    height: auto;
    margin-right: 100px;
}

.integrantes,
.professor {
    font-size: 15px;
    color: #555;
    margin-bottom: 0;
    text-align: left;
    width: 100%;
    max-width: 600px;
}

.integrantes strong,
.professor strong {
    color: #0082FC;
}